package settings

import (
	"github.com/jabuta/dreampicai/view/layout"
	"github.com/jabuta/dreampicai/types"
)

templ Index(user types.AuthenticatedUser) {
	@layout.App(true)
	<div>{ user.Email }</div>
}
